@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Geist',-apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

@font-face {
  font-family: "Geist";
  src: url('./fonts/GeistVariableVF.ttf');
}
